{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>View Employee</title>
  </head>
  <body class="text-uppercase">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:100px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img href="/" src="{% static 'img/reshot-icon-employee-TCW4K37ZS6.svg' %}" alt="logo" width="30" height="24">
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/view">View employee</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/add">Add employee</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/remove">Remove employee</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/filter">Search employee</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
 
    <div class="container-fluid">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">sr.no.</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Deptpartment</th>
            <th scope="col">salary</th>
            <th scope="col">bonus</th>
            <th scope="col">role of emp</th>
            <th scope="col">phone no</th>
            <th scope="col">hire_date</th>
            
          </tr>
        </thead>
        <tbody>
          {% for emp in emps %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ emp.first_name }}</td>
            <td>{{ emp.last_name }}</td>
            <td>{{ emp.dept }}</td>
            <td>{{ emp.salary }}</td>
            <td>{{ emp.bonus }}</td>
            <td>{{ emp.role }}</td>
            <td>{{ emp.phone }}</td>
            <td>{{ emp.hire_date}}</td>
          </tr>  
          {% endfor %}
        </tbody>
      </table>
    </div>
  

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>